

.notification-item {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: var(--color-white);
}

.avatar {
    width: 8dvh !important;
    height: 8dvh !important;
    border-radius: 99.9dvh;
    margin-right: 2dvh;
    object-fit: cover;
}

.time {
    font-size: var(--font-size-12);
    display: block;
    text-align: left;
}

.text {
    align-items: start;
    font-size: var(--font-size-18);
}

p{
    text-align: left;
}