.search-container {
    display: flex;
    width: 100%;
    padding: var(--Spacing-sm, 12px) var(--Spacing-md, 16px);
    align-items: center;
    gap: var(--Spacing-xs, 8px);
    border-radius: var(--Radius-4xl, 56px);
    background: var(--Surface-surface-secondary, #343331);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    flex: 1 0 0;
    background: transparent;
    border: none;
    outline: none;
    color: var(--Fonts-font-color-text-primary, #FFF);
    font-family: var(--Fonts-Body-font, Karla);
    font-size: var(--Size-body-text-body-text-md, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-Height-body-m, 18px); /* 112.5% */
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .search-result {
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
  }
  
  .search-result:last-child {
    border-bottom: none;
  }
  