@import '../variables.css';

.song-title{
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-34);
    font-weight: var(--font-weight-regular);
    color: var(--color-white);
    text-align: center;
    width:100%;
}

.song-description{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-16);
    color: var(--color-white-trans-surface-45);
    max-width: 350px;
    margin-top:-5px;
    margin: -5px auto 0 auto;
    text-align: center;
}


.song-info .tag-button {
    font-size: 13px !important;
  }

  .song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top:40px;
}
  
  .like-comment {
    display: flex;
    gap: 24px;
    align-items: center; 
    margin-top:13px;
    justify-content: center;
    margin-top: 12px;
    width:100%;
}

body{
    background-color: var(--color-black);
}

.tag-list{
display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-left:0;
  gap:8px;
}