@import '../variables.css';

.chat-message {
  display: flex;
  margin: 8px 0;
  width: 100%;
  max-width: 290px!important;
  font-family: var(--font-family-primary);

  &.receiver {
    justify-content: flex-start; // left align
    padding-right: 20%;          
  }

  &.sender {
    justify-content: flex-end;   // right align
    padding-left: 20%;           
  }
  .bubble {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 20px;
    max-width: 80%;
    background-color: #e5e5ea;
    color: #000;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: visible;
  }

  .bubble p {
    margin: 0;
    line-height: 1.4;
  }

  .bubble .time {
    display: block;
    font-size: 0.75rem;
    margin-top: 5px;
    text-align: right;
    opacity: 0.6;
  }

  &.sender .bubble {
    background-color: var(--color-purple);
    color: white;
    border-radius: 20px 20px 0 20px;
  }

  &.receiver .bubble {
    background-color: gray;
    color: black;
    border-radius: 20px 20px 20px 0;
  }
}