@import "../variables.css";


:root {
  --font-family-primary: "Karla", serif;
}

.upload-song-btn{
    align-content: center;
}

.section-title {
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 12px;
}