body{
    background-color: var(--color-black);
  }

.header-text {
    color: var(--color-white);
  }


  .searchbar {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        margin-top: 2dvh;
        padding: 0 var(--spacing-32);
      }

  .icon-button {
    width: 29px;
    height: 27px;
    cursor: pointer;
    fill: white; /* or any color you like */
    transform: translateY(-30px);
  }

  .overview{
    margin-left: var(--spacing-14);
    margin-right: var(--spacing-14);
    
  }
  
  .search-container.hide-search {
    display: flex !important;
  }