@import '../variables.css';

.onboarding {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* padding: 2rem 1rem; */
  text-align: center;
}

.onboarding,
.onboarding-swiper {
  height: 100dvh;
  max-height: 800px;
}

.logo {
  position: absolute;
  padding-top: 6%;
  z-index: 2;
  width: 80px;
  height: auto;
}

.onboarding-swiper {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1;
}

.text-container {
  margin-top: auto;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
}

.title {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-48);
  color: var(--color-white-trans-surface-45);
  letter-spacing: 2.5px;
  margin: 0;
}

.text {
  color: var(--color-white);
  font-family: var(--font-family-primary);
  padding: 0 5%;
  font-size: 1rem;
  text-align: center;
}

.button-container {
  /* margin-top: 2rem; */
  display: flex;
  justify-content: center;
  width: 100%;
}