@import "../variables.css";

.container {
  background-color: var(--color-black);
  color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header{
  margin-bottom:2.4dvh;
}

.question1{
font-family: var(--font-family-secondary);
font-size:var(--font-size-34);
margin-bottom:2.4dvh;
padding: 0 2dvh;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-12);
    margin-bottom: 5dvh;
    justify-content: center;
    padding-bottom: 5dvh;
}


.next-button-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10dvh;
}