@import '../variables.css';

.recording-page header .header-text {
  color: white !important;
}

.recording-page  .song-info {
  display: flex;
  justify-content: center;   
  align-items: center; 
  font-family: var(--font-family-primary);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  border-radius: 50px;
  width:188px;
  height:34px;
  margin: 40px auto 0 auto; 
  background-color: var(--color-white-trans-surface-45);
} 


.metronome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-top:3dvh;
  padding-bottom:4dvh;
}

.number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number {
  font-size: 68px;
  margin: 0;
  padding-left:2dvh;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.beats {
  margin: 0;
  font-size: var(--font-size-16);
  font-family: var(--font-family-primary);
  color: var(--color-white); 
  padding-left:2dvh;
}


.minus{
    font-size: 64px;
    background: none;
    border: none;
    color: var(--color-white);
}

.plus{
    font-size: 64px;
    background: none;
    border: none;
    color: var(--color-white);
}


.record-btn {
  width: 13dvh;
  height: 13dvh;
  border-radius: 50%;
  background-color: var(--color-pink);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5dvh auto;
  background: radial-gradient(circle, var(--color-pink) 50%, rgba(255, 0, 128, 0) 80%);
}

.press-to-record{
    font-size: var(--font-size-28);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    text-align: center;
    margin-top:-3dvh;
    color: var(--color-white); 
}

.timer{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-bold);
    color: var(--color-white-trans-surface-45);
    text-align: center;
    margin-top: -2dvh;
}

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 9dvh;
  margin-bottom:5dvh;
}

.recording-snippet {
  margin-top: 8dvh;
  display: flex;
  align-items: center;
}

.snippet-row {
  display: flex;
  align-items: center;
  gap: 5dvh;
  flex-wrap: nowrap;
}

.waveform {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  height: 60px;
  margin: 10px 0;
  overflow: hidden;
}


.recording-page  .play-icon {
  width: 3dvh;
  height: 3dvh;
  cursor: pointer;
}

.recording-page .overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  max-width: 300px;
  height: 150px;
  background-color: var(--color-black);
  opacity: 0.7;
  z-index: 999;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.recording-page .overlay-backdrop {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 998;
}

 .recording-page .overlay-count{
  font-size: 68px;
  font-family: var(--font-family-primary);
  text-align: center;
  font-weight: var(--font-weight-bold);
}

.waveform {
  width: 100%;
  max-width: 600px;
  height: 60px;
  margin: 10px 0;
}
