@import "../variables.css";


.container{
    background-color: var(--color-black);
    height: 100vh;
    color: var(--color-white);
}

.genre-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-32);
    align-items: center;
    margin-left: 10px;
  }
  
  .search-bar-container {
    display:flex;
    align-items: center;
    gap: var(--spacing-10);
    margin-top: var(--spacing-10);
    margin-bottom: var(--spacing-32);
    justify-content: center;
  }

  .container{
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }
