@import '../variables.css';

.settings-icon-text {
  display: flex;
  align-items: center;
  gap: 2dvh;
  padding: 1.6dvh;
  padding-left:2.4dvh;
}

.settings-icon {
  width: 3.4dvh;
  height: 3.4dvh;
  fill: var(--color-pink);
}

.settings-text-column {
  display: flex;
  flex-direction: column;
}

.settings-text {
  font-size: var(--font-size-20);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  margin: 0;
  color: var(--color-white);
}

.settings-text2 {
  font-size: var(--font-size-14);
  margin: 0;
  color: var(--color-white-trans-surface-45);
  font-family: var(--font-family-primary);
}
