@import '../variables.css';

.top-part{
padding-top:2dvh;
}

.dropdown{
    margin: 1dvh;
    padding-bottom: 10dvh;
}

.tracks{
font-family: var(--font-family-primary);
color: var(--color-white);
font-size:  var( --font-size-28);
}


.collaborate {
  position: fixed;
  bottom: 10dvh;
  left: 50%;  
  transform: translateX(-50%);
  z-index: 1100; /* above other elements */
}
