@import '../variables.css';

.song-description-page {
  background-color: var(--color-black);
}

.top-part{
padding-top:2dvh;
}

.dropdown{
    margin: 1dvh;
    padding-bottom: 13dvh;
}

.tracks{
font-family: var(--font-family-primary);
color: var(--color-white);
font-size:  var( --font-size-28);
}


.collaborate {
  position: fixed;
  bottom: 150px;
  left: 50%;  
  transform: translateX(-50%);
  z-index: 9;
}
