@import '../../variables.css';


.results-list {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
    background-color: #333; 
    border: 1px solid #444; 
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
    margin-top: 8px;
    padding: 8px;
    box-sizing: border-box;
    color: #f0f0f0; 
}

.search-result {
    padding: 6px 10px; 
    cursor: pointer;
    font-size: 14px; 
    color: #f0f0f0; 
    border-bottom: 1px solid #444; 
    transition: background-color 0.2s ease;
}


.search-result:hover {
    background-color: #555; 
    color: #fff; 
}


.search-result:last-child {
    border-bottom: none;
}

.search-result a {
    text-decoration: none; 
    color: inherit; 
}

.search-result a:hover {
    color: #ffcc00; 
}
