html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  height: 100%;
}

/* mobile phone frame */
.mobile-frame {
  position: relative;
  width: 100%;
  max-width: 400px;
  max-height: 800px;
  height: 100vh;
  /* for responsiveness */
  border: 1px solid #555;
  border-radius: 24px;
  overflow: hidden;
  background: #343331;;
  display: flex;
  flex-direction: column;
}

/* scrollable page content inside frame */
.page-content {
  flex: 1;
  overflow-y: auto;
}

.page-content.with-navbar {
  padding-bottom: 50px;
}

/* when NavBar is hidden */
.page-content.no-navbar {
  padding-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* hide scrollbars in a cross-browser way */
.page-content {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.page-content::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}